html {
 
}
#welcome{
  text-align: center;
  font-size: 70px;
  background: -webkit-linear-gradient(#ffa31a,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.intro{
  text-align: center;
  font-size: 20px;
  color : darkgoldenrod;
}
h2{

}
p{
  text-align: center;
  font-size: 40px;
  background: linear-gradient(#b8b1ae,black);
  -webkit-background-clip: text ;
  -webkit-text-fill-color:  transparent;
  opacity: 120%;
  color: black;

}
#jimi{
  background: linear-gradient(#ffa31a,black);
  -webkit-background-clip: text ;
  -webkit-text-fill-color:  transparent;
  font-size: 60px;
  font-family: initial;
}
.intro{
  font-stretch: extra-expanded;
  font-size: 30px;
  color: #b8b1ae;
}

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.hub {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4vw;
  position: absolute;
  top: 4%;
  left: 13%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  
}

.hub span:nth-child(2) {
  background: #ffa31a;
  color: #000000;
  border-radius: 1vw;
  padding: 0 1vw 1vw 1vw;
  display: inline-block;
  opacity: 80%;
}





#navbar {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  opacity: 80%;
  display: ;
  
  
}
   
#navbar li a {
  display: inline;
  float: right;
  opacity: 90%;
   display: block;
  padding: 30px;
  background-color: #b8b1ae;
  border-radius: 10px 50px;
  border-color:#b8b1ae ;

}
#navbar li a:hover{
  background-color: transparent ;
  opacity: 80%;


 
}
#navbar a:link, a:visited {
  background-color: #b8b1ae;
  color: white;
  padding: ;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

  #navbar a:active{
     color: black;
  background-color: transparent;
  text-decoration: underline;
  }

  .fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

ul #guitars {
  float: left;
  color: red;
  font-size: 100px;
}


#classic {
  width: 600px; 
  height: 600px;
  opacity: 50%;
  margin-left: 100px;
   
   
}
#acoustic{
  height: 600px;
  width: 600px;
  margin-left: 520px;
opacity: 50%;
}
#electric{
  height : 600px;
  width:  600px;
  margin-left: 100px;
  margin-top: 150px;
  opacity: 50%;
}
#double{
  height : 600px;
  width : 200px;
margin-left: 720px;
margin-top: 150px;
opacity: 50%;}

#classic:hover{
  transform: scale3d(1.5, 1.5, 1.3);
   transition:  1.7s ease-in-out;
   opacity: 100%;
   margin-right: 100px;
   margin-left: 50px;

   }
   
   
#acoustic:hover{
  transform: scale3d(1.5, 1.5, 1.3);
   transition:  1.7s ease-in-out;
   opacity: 100%;
   margin-left: 50px;
   
   
   
  
}
#electric:hover{
  transform: scale3d(1.5, 1.5, 1.3);
   transition:  1.7s ease-in-out;
   opacity: 100%;
    margin-right: 100px;
   margin-left: 50px;
   
   
  
}
#double:hover{
  transform: scale3d(1.5, 1.5, 1.3);
   
   transition: 2.2s ease-in-out;
   opacity: 100%;
    margin-left: 200px;
  
}
.classical{
  text-align: center;
  background-color: black;
  width: 20%;
 margin-left: 600px;
 margin-top: -200px;
 opacity: 30%;
}
.classical:hover{
  transform: scale3d(1.5, 1.5, 1.3);
   transition:  .9s ease-in-out;
  opacity: 100%;
}
footer{
  background: linear-gradient(black,#b8b1ae);
  -webkit-background-clip: grey ;
  -webkit-text-fill-color:  #b8b1ae ;
  text-align: center;
  padding: 70px;
   ;
}
#classiq{
  text-align: center;
  font-size: 40px;
  background: linear-gradient(#b8b1ae,black);
  -webkit-background-clip: text ;
  -webkit-text-fill-color:  transparent;
  opacity: 120%;
  color: black;
}
